html, 
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:focus {
    color: red;
}

.flex-container {
    display: flex;
    width: 90vw;
    margin: 0;
    padding: 0;
}

.navbar-container {
    justify-content: space-between;
    margin: 0.825em 1.5em;
}

.navbar ul {
    display: inline-flex;
    gap: 20px;
    list-style: none;
    text-transform: uppercase;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr; /*mobile layout */
    grid-template-areas: 
    "hero"
    "posts"
    "link"
    "footer";
    grid-gap: 1em;
}

.section-hero {
    background-image: url("/imgs/man-banner.jpg");
    background-size: cover;
    grid-area: hero;
    color: whitesmoke;
    padding: 0.825em 1em;
}
.section-posts {
    grid-area: posts;
    max-width: 75vw;
    justify-self: center;
}
.view-more-link {grid-area: link; text-align: center;}
.section-footer {
    grid-area: footer;
    color: whitesmoke;
    background-color: black;
    text-align: center;
}

@media (min-width: 600px) {

   .section-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "post1 post2"
    "link link"
    "footer footer";
    grid-gap: 25px;
    place-items: center;
   }
   
   .post1 {grid-area: post1;}
   .post2 {grid-area: post2;} 
   .view-more-link {grid-area: link}
    .section-footer {grid-area: footer; text-align: center;}

  }
