html, 
body {
    margin: 0;
    padding: 0;
}

body {
    width: 90vw;
}

.flex-container {
    display: flex;
    width: 90vw;
    margin: 0;
    padding: 0;
}

.navbar-container {
    justify-content: space-between;
    margin: 0 1.5em;
    border-bottom: 1px solid black;
}

.navbar ul {
    display: inline-flex;
    gap: 20px;
}

.navbar ul {
    list-style: none;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr; /*mobile layout */
    grid-template-areas: 
    "hero"
    "posts"
    "footer";
    max-width: 90vw;
}

.section-hero {
    background-image: url("https://placehold.co/900x120");
    grid-area: hero;
}
.section-posts {
    grid-area: posts;
}
.section-footer {
    grid-area: footer;
}

@media (min-width: 600px) {
    .main-content {
        grid-template-columns: repeat(2, 1fr); /* temporary 2 column layout for medium screens */
        grid-template-areas: 
        "hero posts"
        "hero posts"
        ". ."
        "footer footer";
    }
}

.section {
    padding: 20px;
}