html, 
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:focus {
    color: red;
}

.flex-container {
    display: flex;
    width: 90vw;
    margin: 0;
    padding: 0;
}

.navbar-container {
    justify-content: space-between;
    margin: 0.825em 1.5em;
}

.navbar ul {
    display: inline-flex;
    gap: 20px;
    list-style: none;
    text-transform: uppercase;
}

.section {
    padding: 0.825em 1em;
    background-color: whitesmoke;
}

.section-hero {
    background-image: url("https://placehold.co/600x400/png");
    background-size: cover;
    color: rgb(0, 0, 0);
}

.section-footer {
    background-color: black;
    color: wheat;
}



@media (min-width: 720px) {

    .section-hero {
        height: 40vh;
    }

   .section-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "post post post"
    "post post post"
    "link link link"
    "footer footer footer";
    grid-gap: 25px;
    place-items: center;
    max-width: 90vw;
   }
   
    
   .view-more-link {grid-area: link}
    .section-footer {grid-area: footer; text-align: center;}
    h1 {margin: 0;
        padding: 0;}
    p { margin: 0;
        padding: 0;}

    .title-header {
        margin: 25vh 0;
    }

  }
